<!DOCTYPE html>
<html>
<head>
  <title>Surveys</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <% if current_user %>
    <p>Signed in as: <%= current_user.email %> | <%= link_to "Sign out", signout_path, method: "delete" %></p>
  <% else %>
    <p> Viewing as a guest | <%= link_to "log in", new_session_path %></p>
  <% end %>
  </div>


<%= yield %>

</body>
</html>

